<!DOCTYPE html >
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <!--<![endif]-->
    <body>
            <%= erb(:_header, :layout => true) %>

<div class="ui grid container">
  <div class="row">
    <div class="twelve column wide">
<div class="ui pointing secondary  menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Mentions
  </a>
  <a class="item">
    Invites
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      ian@hackarizona.org
    </a>
  </div>
</div>
</div>
</div><!-- end of nav row -->
    
    <div class="row">
        <div class="six wide column">
            <div class="ui fluid segment">
  <div class="content">
    <div class="header">Hack Arizona 2x Organizers</div>
    <div class="meta">
      <span>2 days ago</span>
      <a>Animals</a>
    </div>
    <p></p>
  </div>
</div>
            <div class="ui fluid segment">
  <div class="content">
    <div class="header">Most Popular Topics</div>
    <div class="meta">
      <span>2 days ago</span>
      <a>Animals</a>
    </div>
    <p></p>
  </div>
</div>
</div>
        <div class="ten wide column">
        <div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui relaxed divided list">
  <div class="item">
    <img class="ui avatar image" src="images/helen.jpg" />
        <div class="content">
            <div class="header">
                <%= "Your Name" %> <span class="meta">Date</span>
            </div>
            <div class="description">
                <%= "#Your Name did this and this and this, she is currently doing this and needs help with this and this and this" %>
                <a href="/your-name/status">View List</a>
            </div>
        </div>
  </div>
            <% @users.each do |user| %>

  <div class="item">
    <img class="ui avatar image" src="images/helen.jpg" />
        <div class="content">
            <div class="header">
                <%= user.name %> <span class="meta">Date</span>
            </div>
            <div class="description">
                <%= "#{user.name.split[0]} did this and this and this, she is currently doing this and needs help with this and this and this" %>
                <a href=<%= "/status/#{user.username}"%>>View List</a>
            </div>
        </div>
  </div>
    <% end %>

</div>

</div>
</div>
        </div>
    </div><!-- end of row -->
</div>
</div>
        <%= erb(:_footer, :layout => false) %>
    </body>
</html>